In [2]:
import os
from os.path import join

import pandas as pd
import numpy as np

In [3]:
train_file_path = join('data', 'train.csv')

In [5]:
df = pd.read_csv(train_file_path)

In [6]:
df.head()

,SMILES,ecfp_0,ecfp_1,ecfp_2,ecfp_3,ecfp_4,ecfp_5,ecfp_6,ecfp_7,ecfp_8,...,ptfp_1019,ptfp_1020,ptfp_1021,ptfp_1022,ptfp_1023,MolWt,clogp,sa_score,qed,label
0,Nc1ccncc1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,94.117,0.66380,1.951060,0.512651,1
1,Cc1cc(n[nH]1)C(=O)O,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,126.115,0.41632,2.373113,0.572518,1
2,NCCCS(=O)(=O)O,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,139.176,-0.77700,2.336083,0.502646,1
3,OC(=O)c1cc2occc2[nH]1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,151.121,1.45910,2.624244,0.647854,1
4,CN1CCC[C@H]1c2cccnc2,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,162.236,1.84830,2.499926,0.626152,1

In [7]:
df.shape

(8349, 3078)

In [14]:
from sklearn.model_selection import train_test_split

train, valid = train_test_split(df,
                                test_size=0.2,
                                shuffle=True,
                                random_state=2020)

In [15]:
train.head()

,SMILES,ecfp_0,ecfp_1,ecfp_2,ecfp_3,ecfp_4,ecfp_5,ecfp_6,ecfp_7,ecfp_8,...,ptfp_1019,ptfp_1020,ptfp_1021,ptfp_1022,ptfp_1023,MolWt,clogp,sa_score,qed,label
5147,CNC(=O)c1ncn2c1COc3c(CCN4CCN(CC4)c5cccc6nc(C)c...,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,482.588,3.34562,2.842929,0.470342,0
5243,CN(C1CCN(Cc2ccc(cc2)C(F)(F)F)CC1)C(=O)Cc3ccc(c...,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,486.531,3.91350,2.420206,0.581325,0
4735,COc1cc(ccc1n2cnc(C)c2)c3cn(CC(=O)N(C4CCCCC4)c5...,0,0,1,0,1,0,0,0,0,...,0,0,1,1,0,470.577,4.81372,2.705274,0.387214,0
6527,CCOC(=O)[C@@H]1CC[C@@H](CC1)N2CC(C2)NC(=O)CNc3...,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,545.584,2.19700,3.012426,0.484449,1
5803,COC1(CCOCC1)c2ccc(NC(=O)C3=CC(=O)c4cc(F)cc(c4O...,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,506.534,4.24884,3.187803,0.431104,1

In [17]:
train.shape

(6679, 3078)

In [16]:
valid.head()

,SMILES,ecfp_0,ecfp_1,ecfp_2,ecfp_3,ecfp_4,ecfp_5,ecfp_6,ecfp_7,ecfp_8,...,ptfp_1019,ptfp_1020,ptfp_1021,ptfp_1022,ptfp_1023,MolWt,clogp,sa_score,qed,label
3668,CCCCc1ccc(cc1)S(=O)(=O)Nc2ccc3CCN(Cc4cc[nH]n4)...,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,438.597,4.15390,2.590484,0.553722,0
4325,FC(F)(F)Oc1cc(CCN2CCN(CCc3ccc4C(=O)OCc4c3)CC2)...,0,0,0,1,0,0,0,0,0,...,0,0,0,1,1,459.468,3.53008,2.637410,0.590625,0
7503,Cc1ncoc1c2nnc(SCCN3CC[C@]4(C[C@H]4c5ccc(cc5)C(...,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,463.529,4.76902,4.241633,0.491111,0
2334,CC(CN1CCN(CCc2ccc(cc2)[N+](=O)[O-])CC1)c3ccc(c...,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,398.463,3.46680,2.612084,0.499315,0
5856,C[C@@H](Oc1cccc2ncnc(Nc3ccc(OCc4ccccn4)c(Cl)c3...,0,1,0,0,0,0,0,0,0,...,1,0,1,1,0,507.978,4.21880,3.058736,0.328167,1

In [18]:
valid.shape

(1670, 3078)

In [19]:
train.to_csv('train_.csv')
valid.to_csv('valid_.csv')